
body{
    background-color: #F9F7F7;
}

h1{
    color: #112D4E;
}

a{
    text-decoration: none;

}

header{
    text-align: center;
    display: block;
    position: fixed;
    width: 300px;
    overflow: auto;
    z-index: 3;
    background-color: #DBE2EF;

}

#header_image, #profile_pic{
    max-width: 70%;
    max-height: 70%;
}

main{
    margin-left: 350px;
}

footer{
    margin-left: 350px;
}

ul{
    list-style: none;
    text-align: left;
}

#skillList li{
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-left: 15px;
}

a::hover{
    text-decoration: underline;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #112D4E;
    color: white;
    text-align: center;
  }

  .fa {
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  #socialMedia li{
    display: inline-block;
    height: 102px;
    width: 132px;
  }