
body{
    background-color: #F9F7F7;
}

h1{
    color: #112D4E;
}

a{
    text-decoration: none;

}

header{
    text-align: center;
    display: block;
    position: fixed;
    width: 300px;
    overflow: auto;
    z-index: 3;
    background-color: #DBE2EF;

}

#header_image, #profile_pic{
    max-width: 70%;
    max-height: 70%;
}

main{
    margin-left: 350px;
}

footer{
    margin-left: 350px;
}